<!DOCTYPE html>
<html>
  <head>
    <title>TT6P</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="/bulmaswatch.min.css">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <script type='text/javascript'>
      const translations = <%= ui_translations(:front) %>;
    </script>
    <script type='text/javascript'>
      I18n = {
        prefix: '<%= I18n.locale == I18n.default_locale ? "" : "#{I18n.locale}/" %>',
        locale: '<%= I18n.locale %>',
        availableLocales: <%= raw(I18n.available_locales.map {|loc| loc.to_s}) %>
      }
    </script>
  </head>
  <body class='front'>
    <div id='app'>
      <router-view v-if="pageLoaded"></router-view>
    </div>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
